<ion-header class="ion-no-border">
   <ion-toolbar style="background:#F4FAF6" class="main-toolbar">
    <ion-title>
      Bem vindo ao Sr.Beer!
      </ion-title>
     </ion-toolbar>
</ion-header>
<ion-header class="ion-no-border" style="background:#F4FAF6;">
 
    <div class="small-toolbar">
      <ion-icon ios="menu-outline" md="menu-sharp" name="menu" class="icon"></ion-icon>
      </div>
      <div class="title-toolbar">

        <Strong class="title">Encontre!! </Strong> Os melhores Bares    
    
    </div>
   
</ion-header>

<ion-content [fullscreen]="true">
 
  <div id="container"> 
   
    <div class="searchbar">
      <ion-searchbar placeholder="Localize um produtdo" no-shadow>  
      </ion-searchbar>

      <!-- Main Featured Products Section -->
    
      <div class="main-featured-products">
         <!-- ion slider for the feature products -->

       <ion-slides pager="true" [options]="options" (click)="appRating()">
         <!-- slider one -->
        <ion-slide *ngFor="let item of comercios">
          <ion-card class="main-product-card">
            <ion-card-content>
            <img src="../../../assets/1.png" />

            <ion-card-title>
              {{item?.name}}
          </ion-card-title> 
          
            <ion-card-subtitle>
                <ion-item lines="none" full="true" (click)="appRating()">
                 <ion-icon name="star"  color="warning"></ion-icon>
                 <ion-icon name="star"  color="warning"></ion-icon>
                 <ion-icon name="star"  color="warning"></ion-icon>
                 <ion-icon name="star"  color="warning"></ion-icon>
                </ion-item>

            <div class="time-icon">
             <ion-icon ios="timer-outline" md="timer"  color="warning"></ion-icon>
             2 KM
              </div>                 
           </ion-card-subtitle>
          
         </ion-card-content>
         </ion-card>
        </ion-slide>
<!-- Slider two -->
        <!-- <ion-slide>
          <ion-card class="card-wrapper main-product-card">
            <ion-card-content>
            <img src="../../../assets/2.png" />

            <ion-card-title>
              Bar 2
          </ion-card-title> 
          
            <ion-card-subtitle>
                <ion-item lines="none" full="true" (click)="appRating()">
                 <ion-icon name="star"  color="warning"></ion-icon>
                 <ion-icon name="star"  color="warning"></ion-icon>
                 <ion-icon name="star"  color="warning"></ion-icon>
                 <ion-icon name="star"  color="warning"></ion-icon>
                </ion-item>

            <div class="time-icon">
             <ion-icon ios="timer-outline" md="timer"  color="warning"></ion-icon>
             5 KM
              </div>                 
           </ion-card-subtitle>
          
         </ion-card-content>
         </ion-card>
        </ion-slide> -->

       </ion-slides>
      </div>

      <!-- popular product display section -->
    
      <div class="popular-products-section">
            
        <ion-header class="ion-no-border" style="background:#F4FAF6" >
          <ion-toolbar class="segement-toolbar">

            <ion-segment mode="md"  [(ngModel)]="segment" (ionChange)="segmentChanged($event)"> 
            <ion-segment-button value="0" style=" min-height:30px;">
              <ion-label>
                Melhores ofertas
              </ion-label>
            </ion-segment-button>

            <ion-segment-button value="1" >
              <ion-label>
                Descontos
              </ion-label>
            </ion-segment-button>
            <ion-segment-button value="2" >
              <ion-label>
                Top atendimentos
              </ion-label>
            </ion-segment-button>

            <!-- <ion-segment-button value="3" >
              <ion-label>
                Fresh Joice
              </ion-label>
            </ion-segment-button> -->

            </ion-segment>

            <ion-slides pager="false" #slides [options]="sliderOptions" (ionSlideDidChange)="slidesChanged(slides)" (ionSlideDidLoad)="slidesChanged(slides)" style="padding-bottom: 50px;">
              <ion-slide>
               
                <div class="bottomstyle">
                    <ion-item lines="none">
                      
                      <ion-avatar slot="start">
                        <img src="../../../assets/10001721.jpg" />
                        <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" >  -->
                      </ion-avatar>
                      <ion-label>
                        <h2>Cerveja Skoll 300ml (Unidade)</h2>
                            <ion-row>
                              <ion-icon name="star" color="warning"></ion-icon>
                              <ion-icon name="star" color="warning"></ion-icon>
                              <ion-icon name="star" color="warning"></ion-icon>
                              <ion-icon name="star" color="warning"></ion-icon>
                              <ion-icon name="star" color="warning"></ion-icon>
                            </ion-row>
  
                      
                      </ion-label>
                    </ion-item>
                
                </div>
              </ion-slide>
              <ion-slides pager="false" #slides [options]="sliderOptions" (ionSlideDidChange)="slidesChanged(slides)" (ionSlideDidLoad)="slidesChanged(slides)" style="padding-bottom: 50px;">
                <ion-slide>
                 
                  <div class="bottomstyle">
                      <ion-item lines="none">
                        
                        <ion-avatar slot="start">
                          <img src="../../../assets/10001721.jpg" />
                          <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" >  -->
                        </ion-avatar>
                        <ion-label>
                          <h2>Cerveja Skoll 300ml (Unidade)</h2>
                              <ion-row>
                                <ion-icon name="star" color="warning"></ion-icon>
                                <ion-icon name="star" color="warning"></ion-icon>
                                <ion-icon name="star" color="warning"></ion-icon>
                                <ion-icon name="star" color="warning"></ion-icon>
                                <ion-icon name="star" color="warning"></ion-icon>
                              </ion-row>
    
                        
                        </ion-label>
                      </ion-item>
                  
                  </div>
                </ion-slide>