.circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
  }
  
  .circle img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .cores{
    color: #000000;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
.centralizar {
    width: 100px;
    height: 100px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}
.centralizartext{
    color: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    
}
.bar {
    background: #424041;
    font-size: 25px;
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
}
.centralizardiv{
    text-align: center;    
}
.btns{
    text-align: center;
}

