

<ion-row class="info-row" #hideheader>
  <ion-col size="8">
    <ion-text color="dark">
      <span>Bem vindo!</span><br>
      <b>Maria Rita</b>
      <ion-icon name="chevron-down-outline" color="primary"></ion-icon>
    </ion-text>
  </ion-col>
  
</ion-row>

<!-- <ion-header [translucent]="true">

<ion-item class="ss" lines="none">
  <ion-thumbnail slot="start">
    <img src="../../assets/icon/8.png" />
  </ion-thumbnail>
  <label class="cores">Olá Rita Maria</label>
</ion-item>
</ion-header>  -->


<ion-content>
<div class="circle centralizar">
<img src="../../assets/9.png" />
</div>
<div class="centralizartext">
<label >Rita Maria</label>
</div>
<div class="centralizartext">
<label >rtmaria@gmail.com</label>
</div>
</ion-content>
<ion-list style="text-align:center">
<ion-button  color="dark" fill="outline" shape="round" class="btnm" size="small">
<ion-item >
<ion-icon name="person-outline"></ion-icon>
<label class="cores">Editar informações</label>
</ion-item>
</ion-button >
<ion-button  color="dark" fill="outline" shape="round" size="small" class="btnm" >
<ion-item >
<ion-icon name="beer-outline"></ion-icon>
<label class="cores">Cadastre Produtos</label>
</ion-item>
</ion-button>
<ion-button color="dark" fill="outline" shape="round" size="small"class="btnm" >
<ion-item>
<ion-icon name="notifications-outline"></ion-icon> 
<label class="cores">Notificações</label>
</ion-item>
</ion-button>
<ion-button  color="dark" fill="outline" shape="round" size="small"class="btnm" >
<ion-item>
<ion-icon name="shield-checkmark-outline"></ion-icon>   
<label class="cores">Segurança</label>
</ion-item>
</ion-button>
<ion-button color="dark" fill="outline" shape="round" size="small"class="btnm" >
<ion-item>
<ion-icon name="list-circle-outline"></ion-icon> 
<label class="cores">Linguagem</label>
</ion-item>
</ion-button>
<ion-button color="dark" fill="outline" shape="round" size="small"class="btnm" >
<ion-item>
<ion-icon name="lock-closed-outline"></ion-icon>
<label class="cores">Politicas de privacidade</label>
</ion-item>
</ion-button>
<ion-button color="dark" fill="outline" shape="round" size="small"class="btnm" >
<ion-item>
<ion-icon name="people-outline"></ion-icon>
<label class="cores">Convide seus amigos!!</label>
</ion-item>
</ion-button>
<ion-button color="dark" fill="outline" shape="round" size="small"class="btnm" >
<ion-item>
<ion-icon name="exit-outline" color="dark"></ion-icon>
<label class="cores" >Sair</label>
</ion-item>
</ion-button>

</ion-list>
