<ion-content>
  <ion-header [translucent]="true">
  
    <ion-item class="ss" lines="none">
      <ion-thumbnail slot="start">
        
        <img src="../../assets/8.png" />
        
      </ion-thumbnail>
      <ion-icon name="ellipsis-horizontal-sharp" slot="end"></ion-icon>

    </ion-item>
 
</ion-header>
  <div class="circle centralizar">
    <img src="../../assets/9.png" />
  </div>
  <div class="centralizartext teste2">
    <label >Maria Rita</label>
    </div>
    <div class="centralizartext teste3">
    <label >mariarit@gmail.com</label>
    </div>
    <ion-list class="teste3">
      <ion-item>
      <ion-icon name="person-sharp"></ion-icon>
      <label class="centralizartext teste2">  Editar Perfil</label>
      <ion-icon name="chevron-forward-sharp" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="notifications-sharp"></ion-icon> 
        <label class="centralizartext" >  Notificação</label>
        <ion-icon name="chevron-forward-sharp" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="shield-checkmark-sharp"></ion-icon>  
        <label class="centralizartext" >  Segurança</label> 
        <ion-icon name="chevron-forward-sharp" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="restaurant-sharp"></ion-icon> 
        <label class="centralizartext">  Cadastrar Produto</label>
        <ion-icon name="chevron-forward-sharp" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-sharp"></ion-icon>
        <label class="centralizartext" >  Politicas de Privacidade</label>
        <ion-icon name="chevron-forward-sharp" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="people-sharp"></ion-icon>
        <label class="centralizartext">  Termos de Uso</label>
        <ion-icon name="chevron-forward-sharp" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="exit-sharp" color="danger"></ion-icon>
        <label class="centralizartext2" >  Sair</label>
      </ion-item>
   
    </ion-list>
    <div class="img teste ">
      <img src="../../assets/8.png" />
    </div>
</ion-content>


 